body {
    margin: 0;
    padding: 0;
    font-family: "acumin pro", sans-serif;
    background-color: #0f0f0f;
}

.about {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}

.about-me .span-me{
    color: #6073e2;
}
.about img{
    width: 200px;
    margin-top: 80px;
    border-radius: 2rem;
}

.left {
    color: #d2d2d2d2;
    background: rgb(51, 51, 51);
    background: linear-gradient(130deg, rgba(51, 51, 51, 1) 0%, rgba(40, 40, 40, 1) 25%, rgba(23, 23, 23, 1) 50%, rgba(20, 20, 20, 1) 75%, rgba(17, 17, 17, 1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 400px;
    justify-content: center;
    text-align: center;
    margin-left: 10vw;
    margin-top: 30px;
    height: 500px;
    border-radius: 2rem;
    font-weight: 100;
    border: none;
    outline: none;
}

.left button{
    background-color: rgb(51, 51, 51);
    border: none;
    color: #d4d4d4;
    font-size: 15px;
    margin-left: 5px;
    width: 17vw;
    height: 5vh;
    border-radius: 3rem;
    font-weight: bold;
}

.about-me {
    color: #d4d4d4;
    width: 50vw;
    margin: 0px 40px 40px 40px;
    padding: 0px 40px 40px 40px;
    font-weight: 100;
}

.about-me span{
    color: rgb(255, 159, 159);
    font-style: italic;
}

.about-me hr{
    width: 10vw;
    
}
.nav-about{
    color: #d4d4d4;
    font-size: 30px;
  }

@media (max-width: 1000px) {
    .about {
        flex-direction: column;
        margin-left: 0;
    }

    .left {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    .about-me {
        width: 80vw;
        margin: auto;
        padding: 0;
    }

    #footer-placeholder {
        display: none;
    }
}