body {
    margin: 0;
    padding: 0;
    font-family: "acumin pro", sans-serif;
    background-color: #0f0f0f;
    color: #d4d4d4;
    height: 100vh;

}
.grid-container {
    display: grid;
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 6rem rgba(0, 0, 0, 1);
    
  }
  
  .grid-item {
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: rgb(51,51,51);
    background: linear-gradient(130deg, rgba(51,51,51,1) 0%, rgba(40,40,40,1) 25%, rgba(23,23,23,1) 50%, rgba(20,20,20,1) 75%, rgba(17,17,17,1) 100%); border: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
  }
  
  .grid-item:hover {
    transform: scale(1.015);
    border: 1px solid rgba(255, 255, 255, 0.25);
  
  }
  
  .grid-item img{
    width: 500px;
    border-radius: 1rem;
}

.grid-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    object-fit: cover; 
    opacity: 0; 
    transition: opacity 0.6s ease; 
}

.grid-item:hover .gp {
    opacity: 1; 
    width: 700px;
    margin-left: -2vw;
    border-radius: 2rem;
  }
.grid-item:hover .plasma {
    opacity: 1;
    width: 650px;
    margin-left: -2.5vw;
    border-radius: 2rem;
  }
.grid-item:hover .harry {
    opacity: 1; 
    width: 650px;
    top: -10px;
    left: -2vw;
    border-radius: 2rem;
  }

  .nav-projects{
    color: #d4d4d4;
    font-size: 30px;
  }

  .foot{
    position: absolute;
  }

@media (max-width:1500px)
{
  .grid-item{
  width: 70vw;
  margin: auto;
  margin-top: 100px;
}
.grid-item img{
  width: 50vw;
}
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
    width: 70vw;
    margin: none;
    pointer-events: none;
  }
.foot{
  display: none;
}
  
}